/* General CSS */
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #006699;
}

/* Header */
header {
  font-family: 'Poppins', sans-serif;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

input {
  margin-right: 1%;
}

.setting {
  display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2% 5%;
}


/* Main Content */
.generator {
  background-color: #003366;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 8px 0px;
  font-size: 1.2rem;
  width: 92%;
  margin: 0 auto;
}

.settings {
  width: 92%;
  margin: 0 auto;
}

textarea {
  color: hsl(206, 17%, 28%);
}

.btn {
  border: 2px solid #272838;
  background-color: #f9f8f8;
  border-radius: 25px;
  border-color: #272838;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: #272838;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background-color: #272838;
  color: #f9f8f8;
}

.btn:active {
  background-color: #5e6187;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #272838;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .btn {
    font-size: 0.8rem;
  }

  .card-body {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 445px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.25rem;
  }
}


