#viewport {
	position: absolute;
	background-color: #46196e; 
	cursor: pointer;
	top: 0px;
	left: 0px;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}

.adSize {
	width: 300px;
	height: 250px;
}

a.divlink {
	left: 0px;
	top: 0px;
	width: 300px;
	height: 250px;
	position: absolute;
	cursor: pointer;
}

#click_tag{
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0px; 
	top: 0px;
}

#border{
	top: 0px;
	left: 0px;
	position:absolute;	
    border: solid 1px #666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
}

#bg{
	background-color: #46196e; 
	position:absolute;
	left: 0px; 
	top: 0px;
}

/* #temp {
	background: no-repeat url("../images/tempPhone.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
} */

/* ---- Banner Content --- */
.arrow1_1{
	background: no-repeat url("../images/arrows/arrow1_1.png");
}

.arrow1_2{
	background: no-repeat url("../images/arrows/arrow1_2.png");
}

.arrows_F1_1{
	left: 141px;
	top: 1px;
}

.arrows_F1_2{
	left: -664px; 
	top: 1px;
}

.arrow2_1{
	background: no-repeat url("../images/arrows/arrow2_1.png");
	left: -432px;
	top: 1px;
}

.arrow4_1{
	background: no-repeat url("../images/arrows/arrow4_1.png");
	left: -444px; 
	top: 1px;
}

.arrows{
	background-size: contain;
	position:absolute;
	width: 713px;
	height: 250px;
}

#logo1_1{	
	background: no-repeat url("../images/logo1_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#legal2_1{	
	background: no-repeat url("../images/legal2_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#legal2_2{	
	background: no-repeat url("../images/legal2_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text2_5{	
	background: no-repeat url("../images/text2_5.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text2_4{	
	background: no-repeat url("../images/text2_4.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text2_3{	
	background: no-repeat url("../images/text2_3.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text2_1{	
	background: no-repeat url("../images/text2_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text2_2{	
	background: no-repeat url("../images/text2_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text5_1{	
	background: no-repeat url("../images/text5_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text5_2{	
	background: no-repeat url("../images/text5_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text5_3{	
	background: no-repeat url("../images/text5_3.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text5_4{	
	background: no-repeat url("../images/text5_4.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text5_5{	
	background: no-repeat url("../images/text5_5.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text4_3{	
	background: no-repeat url("../images/text4_3.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text4_2{	
	background: no-repeat url("../images/text4_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text4_1{	
	background: no-repeat url("../images/text4_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text3_3{	
	background: no-repeat url("../images/text3_3.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text3_2{	
	background: no-repeat url("../images/text3_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#text3_1{	
	background: no-repeat url("../images/text3_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#legal3_1{	
	background: no-repeat url("../images/legal3_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#legal3_2{	
	background: no-repeat url("../images/legal3_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#product2_1{	
	background: no-repeat url("../images/product2_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#product2_2{	
	background: no-repeat url("../images/product2_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#product5_1{	
	background: no-repeat url("../images/product2_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#product5_2{	
	background: no-repeat url("../images/product2_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#legal5_1{	
	background: no-repeat url("../images/legal5_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#legal5_2{	
	background: no-repeat url("../images/legal5_2.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#cta5_1{	
	background: no-repeat url("../images/cta5_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}

#logo2_1{	
	background: no-repeat url("../images/logo2_1.png");
	position:absolute;
	left: 0px; 
	top: 0px;
	background-size: contain;
}
/* ---- Banner Content ^ --- */
/* ---- Legal --- */
/* #legal_over {
	background: no-repeat url("../images/legal_over.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px;
	pointer-events: none;
	top: 0px;
	background-size: contain;
	visibility: hidden;
	opacity: 0;
} */
/* #legal_hover {
	position: absolute;
	width: 115px;
	height: 18px;
	left: 90px;
	bottom: 0px;
	background-color: green;
	visibility: hidden;
	opacity: 0;
} */
/* ---- Template CSS ---- */
/* # {
	background: no-repeat url("../images/.png");
	position:absolute;
	width: 300px;
	height: 250px;
	left: 0px; 
	top: 0px;
	background-size: contain;
} */