body {
	margin: 0px;
}

div { 
	position:absolute; 
	margin:0px; 
	padding:0px;
}

.bannerSize {
	width:300px; 
	height:250px; 
	position: absolute;
    left: 0px;
    top: 0px;
}

#viewport { 
	overflow:hidden;
    /* background-color: #FFFFFF; */
    position: relative;
    margin: 0 auto;
}

#border { 
	position: absolute;
	pointer-events: none;
    left: 0px;
    top: 0px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #000000;
}

#clickable { 
	position: absolute;
    left: 0px;
    top: 0px;
	/* background-color: white; */
	opacity: 0;
}

#background { 
	background: url(images/background.jpg) no-repeat;
	background-size: contain;
}

#text1 { 
	background: url(images/text1.png) no-repeat;
	background-size: contain;
}

#text2 { 
	background: url(images/text2.png) no-repeat;
	background-size: contain;
}

#text3 { 
	background: url(images/text3.png) no-repeat;
	background-size: contain;
}

#text4 { 
	background: url(images/text4.png) no-repeat;
	background-size: contain;
}

#product1 { 
	background: url(images/product1.png) no-repeat;
	background-size: contain;
}

#bolt1 { 
	background: url(images/bolt1.png) no-repeat;
	background-size: contain;
}

#bolt2 { 
	background: url(images/bolt2.png) no-repeat;
	background-size: contain;
}

#cta1 { 
	background: url(images/cta1.png) no-repeat;
	background-size: contain;
}

#cta2 { 
	background: url(images/cta2.png) no-repeat;
	background-size: contain;
}

#ctaArrow { 
	background: url(images/arrow.png) no-repeat;
	background-size: contain;
}





